// .page-content h1 {font-size: 1.8em;}
// .page-content h2 {font-size: 1.6em;}
// .page-content h3 {font-size: 1.4em;}
// .page-content h4 {font-size: 1.2em;}
// #recently-updated-pages { display: none; } 
// #recently-updated-pages:parent { display: none; } 
// #recent-activity { display: none; } 
// #details { display: none; } 
// #details + div { display: none; } 
// .actions + div { display: none; } 
// p {line-height: 3rem;}
// .tri-layout-right { visibility: hidden; }

// Use tailwindcss to customize the page-content css class and it's sub classes